@charset "UTF-8";
/*
 * author: 小小游 --- allen
 * date: 2019.07.30
 * lastUpdateDate: 2019.08.14
 * description: sass是一种预编译CSS的快捷工具，能迅速提高我们的开发效率，节省时间和成本等等.
 */
/**
 * author: 小小游 --- allen
 * date: 2016.07.29
 * lastUpdateDate: 2019.08.05
 * description: 样式重置、清除浮动、添加浮动、公用样式
*/
/**
 * 定义自定义字体 平方黑体 
 */
@font-face {
  font-family: 'pfht';
  src: url("../font/PingFangSC-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
/**
	样式重置 start
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
input,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
select {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: pfht; }

body {
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  font-family: pfht; }

em,
i {
  font-style: normal; }

b,
strong {
  font-weight: normal; }

img {
  border: 0 none;
  vertical-align: top;
  max-width: 100%;
  -webkit-touch-callout: none; }

a {
  -webkit-touch-callout: none;
  text-decoration: none; }

a:active {
  outline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: none;
  overflow: auto;
  outline: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

input,
textarea {
  outline: none; }

input,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

textarea:focus {
  outline: none; }

input:focus {
  outline: none; }

a,
button,
input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0); }

input[type='submit'],
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  border: 0 none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

/**
	样式重置 end
*/
/**
	清浮动样式 start
*/
.clearFix:before,
.clearFix:after {
  display: table;
  content: ''; }

.clearFix:after {
  clear: both; }

.clearFix {
  *zoom: 1; }

/**
	清浮动样式 end
*/
/**
	添加浮动样式 start
*/
.fl {
  float: left; }

.fr {
  float: right; }

/**
	添加浮动样式 end
*/
/**
	公用样式 start
*/
.um-vp {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none; }

/*定义body的内边距padding，外边距margin的大小以及文字大小可以调整，超过body宽度的部分隐藏*/
.ub {
  display: -webkit-box !important;
  display: box !important;
  height: auto; }

/*元素采用弹性box布局*/
.ub-ver {
  -webkit-box-orient: vertical;
  box-orient: vertical; }

.ub-f1 {
  position: relative;
  -webkit-box-flex: 1;
  box-flex: 1; }

/*子元素占用区域份数*/
.ub-f2 {
  position: relative;
  -webkit-box-flex: 2;
  box-flex: 2; }

.ub-f3 {
  position: relative;
  -webkit-box-flex: 3;
  box-flex: 3; }

.ub-f4 {
  position: relative;
  -webkit-box-flex: 4;
  box-flex: 4; }

.ub-pc {
  -webkit-box-pack: center; }

/*子元素水平居中对齐*/
.ub-ac {
  -webkit-box-align: center; }

/*子元素垂直居中对齐*/
.tx-c {
  text-align: center; }

.tx-l {
  text-align: left; }

.tx-r {
  text-align: right; }

/*按钮边框样式*/
/*输入框、下拉框、文本域样式 APP*/
/**
	公用样式 end
*/
/*
 * author: 小小游 --- allen
 * date: 2016.05.28
 * lastUpdateDate: 2019.08.05
 * description: 针对不同设计稿来将pxToRem.
 *             以下列出了常用的三种设计稿尺寸，分别是640px、720px、750px的设计稿尺寸.
 * $r_640、$r_720、$r_750、$r_1080
 */
/*
 * 针对设计稿是640px的将px-->rem布局  start
 */
/*
 * 针对设计稿是640px的将px-->rem布局  end
 */
/*
 * 针对设计稿是720px的将px-->rem布局  start
 */
/*
 * 针对设计稿是720px的将px-->rem布局  end
 */
/*
 * 针对设计稿是750px的将px-->rem布局  start
 */
/*
 * 针对设计稿是750px的将px-->rem布局  end
 */
/*
 * 针对设计稿是1080px的将px-->rem布局  start
 */
/*
 * 针对设计稿是1080px的将px-->rem布局  end
 */
body {
  background-color: #fff; }

#preview {
  /** 头部区域内容 start */
  /** 头部区域内容 end */
  /** 核心区域内容 start */
  /** 核心区域内容 end */ }
  #preview .myHeader {
    width: 100%;
    height: 2.3466666667rem;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    #preview .myHeader .center {
      width: 18.4rem;
      height: 2.3466666667rem;
      margin: 0 auto; }
      #preview .myHeader .center em {
        width: 0.4266666667rem;
        height: 1.5733333333rem;
        background: url(../images/return_back.png) no-repeat left 0.7733333333rem;
        background-size: 0.4266666667rem 0.8rem;
        text-indent: -999999em; }
      #preview .myHeader .center h1 {
        font-weight: normal;
        font-size: 0.9066666667rem;
        line-height: 2.3466666667rem;
        color: #000;
        text-align: center;
        margin-left: 7.8933333333rem; }
      #preview .myHeader .center a {
        width: 3.5733333333rem;
        height: 1.4933333333rem;
        font-weight: normal;
        font-size: 0.8rem;
        line-height: 1.4933333333rem;
        color: #fff;
        background-color: #2e9cfa;
        border-radius: 1.3333333333rem;
        margin-top: 0.4266666667rem;
        text-align: center; }
  #preview .myContent {
    width: 18.4rem;
    margin: 0 auto; }
    #preview .myContent .articleH {
      margin-top: 1.6rem; }
      #preview .myContent .articleH h1 {
        font-weight: normal;
        font-size: 1.0666666667rem;
        color: #000; }
      #preview .myContent .articleH .myCoreH {
        margin-top: 1.6rem; }
        #preview .myContent .articleH .myCoreH .left {
          float: left;
          width: 1.6rem; }
          #preview .myContent .articleH .myCoreH .left a {
            float: left; }
            #preview .myContent .articleH .myCoreH .left a img {
              float: left;
              width: 100%;
              height: 1.6rem; }
        #preview .myContent .articleH .myCoreH .right {
          float: left;
          margin-left: 0.7466666667rem; }
          #preview .myContent .articleH .myCoreH .right h2 {
            display: block;
            font-weight: normal;
            font-size: 0.8rem;
            line-height: 0.48rem;
            color: #000; }
          #preview .myContent .articleH .myCoreH .right .details_r {
            float: left;
            display: block; }
            #preview .myContent .articleH .myCoreH .right .details_r strong {
              font-weight: normal;
              font-size: 0.5866666667rem;
              color: #919191; }
              #preview .myContent .articleH .myCoreH .right .details_r strong:last-of-type {
                margin-left: 0.2666666667rem; }
    #preview .myContent .articleC {
      margin-top: 1.4933333333rem; }
      #preview .myContent .articleC .articleCont {
        margin-bottom: 1.2266666667rem; }
        #preview .myContent .articleC .articleCont p {
          font-weight: normal;
          font-size: 0.8rem;
          line-height: 1.3866666667rem;
          color: #000;
          margin-bottom: 0.64rem; }
        #preview .myContent .articleC .articleCont img {
          display: block;
          max-width: 100%;
          width: 18.4rem;
          margin: 0 auto; }

/*# sourceMappingURL=preview.css.map */
