@charset "UTF-8";
/*
 * author: 小小游 --- allen
 * date: 2019.07.30
 * lastUpdateDate: 2019.08.08
 * description: sass是一种预编译CSS的快捷工具，能迅速提高我们的开发效率，节省时间和成本等等.
 */
/**
 * author: 小小游 --- allen
 * date: 2016.07.29
 * lastUpdateDate: 2019.08.05
 * description: 样式重置、清除浮动、添加浮动、公用样式
*/
/**
 * 定义自定义字体 平方黑体 
 */
@font-face {
  font-family: 'pfht';
  src: url("../font/PingFangSC-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
/**
	样式重置 start
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
input,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
select {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: pfht; }

body {
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  font-family: pfht; }

em,
i {
  font-style: normal; }

b,
strong {
  font-weight: normal; }

img {
  border: 0 none;
  vertical-align: top;
  max-width: 100%;
  -webkit-touch-callout: none; }

a {
  -webkit-touch-callout: none;
  text-decoration: none; }

a:active {
  outline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: none;
  overflow: auto;
  outline: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

input,
textarea {
  outline: none; }

input,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

textarea:focus {
  outline: none; }

input:focus {
  outline: none; }

a,
button,
input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0); }

input[type='submit'],
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  border: 0 none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

/**
	样式重置 end
*/
/**
	清浮动样式 start
*/
.clearFix:before,
.clearFix:after {
  display: table;
  content: ''; }

.clearFix:after {
  clear: both; }

.clearFix {
  *zoom: 1; }

/**
	清浮动样式 end
*/
/**
	添加浮动样式 start
*/
.fl {
  float: left; }

.fr {
  float: right; }

/**
	添加浮动样式 end
*/
/**
	公用样式 start
*/
.um-vp {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none; }

/*定义body的内边距padding，外边距margin的大小以及文字大小可以调整，超过body宽度的部分隐藏*/
.ub {
  display: -webkit-box !important;
  display: box !important;
  height: auto; }

/*元素采用弹性box布局*/
.ub-ver {
  -webkit-box-orient: vertical;
  box-orient: vertical; }

.ub-f1 {
  position: relative;
  -webkit-box-flex: 1;
  box-flex: 1; }

/*子元素占用区域份数*/
.ub-f2 {
  position: relative;
  -webkit-box-flex: 2;
  box-flex: 2; }

.ub-f3 {
  position: relative;
  -webkit-box-flex: 3;
  box-flex: 3; }

.ub-f4 {
  position: relative;
  -webkit-box-flex: 4;
  box-flex: 4; }

.ub-pc {
  -webkit-box-pack: center; }

/*子元素水平居中对齐*/
.ub-ac {
  -webkit-box-align: center; }

/*子元素垂直居中对齐*/
.tx-c {
  text-align: center; }

.tx-l {
  text-align: left; }

.tx-r {
  text-align: right; }

/*按钮边框样式*/
/*输入框、下拉框、文本域样式 APP*/
/**
	公用样式 end
*/
/*
 * author: 小小游 --- allen
 * date: 2016.05.28
 * lastUpdateDate: 2019.08.05
 * description: 针对不同设计稿来将pxToRem.
 *             以下列出了常用的三种设计稿尺寸，分别是640px、720px、750px的设计稿尺寸.
 * $r_640、$r_720、$r_750、$r_1080
 */
/*
 * 针对设计稿是640px的将px-->rem布局  start
 */
/*
 * 针对设计稿是640px的将px-->rem布局  end
 */
/*
 * 针对设计稿是720px的将px-->rem布局  start
 */
/*
 * 针对设计稿是720px的将px-->rem布局  end
 */
/*
 * 针对设计稿是750px的将px-->rem布局  start
 */
/*
 * 针对设计稿是750px的将px-->rem布局  end
 */
/*
 * 针对设计稿是1080px的将px-->rem布局  start
 */
/*
 * 针对设计稿是1080px的将px-->rem布局  end
 */
#selectFile {
  /** 添加图片 / 文字 / 视频区域 start */
  /** 添加图片 / 文字 / 视频区域 end */ }
  #selectFile .addContent button {
    display: block;
    width: 100%;
    height: 1.28rem;
    background: url(../images/add_something.png) no-repeat center top;
    background-size: 1.28rem 1.28rem;
    text-indent: -999999em;
    outline: none;
    text-align: center;
    margin: 0.7466666667rem 0; }
  #selectFile .addContent ul {
    width: 10.08rem;
    background-color: #fff;
    text-align: center;
    margin: 1.0666666667rem auto;
    position: relative; }
    #selectFile .addContent ul::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      width: 0;
      height: 0;
      border-right: 0.64rem solid transparent;
      border-left: 0.64rem solid transparent;
      border-bottom: 0.64rem solid #fff;
      text-indent: -999999em;
      margin: -0.64rem 0 0 -0.64rem; }
    #selectFile .addContent ul li {
      float: left;
      position: relative;
      z-index: 3;
      width: 3.36rem;
      padding: 0.96rem 0;
      box-sizing: border-box;
      -webkit-box-sizing: border-box; }
      #selectFile .addContent ul li a {
        float: left;
        width: 3.36rem;
        font-weight: normal;
        font-size: 0.64rem;
        color: #323232;
        padding-top: 1.3333333333rem;
        box-sizing: border-box;
        -webkit-box-sizing: border-box; }
      #selectFile .addContent ul li:nth-of-type(1) a::before {
        content: '';
        position: absolute;
        left: 1.0933333333rem;
        top: 0.2133333333rem;
        width: 1.0933333333rem;
        height: 1.92rem;
        background: url(../images/edit_pic.png) no-repeat center 0.96rem;
        background-size: 1.0933333333rem 0.96rem; }
      #selectFile .addContent ul li:nth-of-type(2) a::before {
        content: '';
        position: absolute;
        left: 1.12rem;
        top: 0.08rem;
        width: 0.96rem;
        height: 2.08rem;
        background: url(../images/edit_text.png) no-repeat center 0.96rem;
        background-size: 0.96rem 1.12rem; }
      #selectFile .addContent ul li:nth-of-type(3) a::before {
        content: '';
        position: absolute;
        left: 1.0933333333rem;
        top: 0.1333333333rem;
        width: 1.0666666667rem;
        height: 2.0266666667rem;
        background: url(../images/edit_video.png) no-repeat center 0.96rem;
        background-size: 1.0666666667rem 1.0666666667rem; }
      #selectFile .addContent ul li:first-of-type {
        /** 覆盖vantUI的样式 start */
        /** 覆盖vantUI的样式 end */ }
        #selectFile .addContent ul li:first-of-type .van-uploader {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2;
          width: 3.36rem; }
          #selectFile .addContent ul li:first-of-type .van-uploader .van-uploader__wrapper .van-uploader__upload {
            width: 3.36rem;
            margin: 0;
            border: 0 none;
            background-color: transparent; }
            #selectFile .addContent ul li:first-of-type .van-uploader .van-uploader__wrapper .van-uploader__upload i {
              display: none; }

/*# sourceMappingURL=selectFile.css.map */
